# Worldwide Gross Models

## Import libraries

In [167]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error
import statsmodels.api as sm

## Getting the data

In [168]:
df_movies = pd.read_csv('../data/processed/pixar_movies_complete.csv')
df_movies

    Year Released                Movie  ...  Oscars Nominated  Oscars Won
0            1995            Toy Story  ...               3.0         0.0
1            1998         A Bug's Life  ...               1.0         0.0
2            1999          Toy Story 2  ...               1.0         0.0
3            2001       Monsters, Inc.  ...               3.0         1.0
4            2003         Finding Nemo  ...               4.0         1.0
5            2004      The Incredibles  ...               4.0         2.0
6            2006                 Cars  ...               2.0         0.0
7            2007          Ratatouille  ...               5.0         1.0
8            2008               WALL-E  ...               6.0         1.0
9            2009                   Up  ...               5.0         2.0
10           2010          Toy Story 3  ...               5.0         2.0
11           2011               Cars 2  ...               0.0         0.0
12           2012                Brave  ...               1.0         1.0
13           2013  Monsters University  ...               0.0         0.0
14           2015           Inside Out  ...               2.0         1.0
15           2015    The Good Dinosaur  ...               0.0         0.0
16           2016         Finding Dory  ...               0.0         0.0
17           2017               Cars 3  ...               0.0         0.0
18           2017                 Coco  ...               2.0         2.0
19           2018        Incredibles 2  ...               1.0         0.0
20           2019          Toy Story 4  ...               2.0         1.0
21           2020               Onward  ...               1.0         0.0
22           2020                 Soul  ...               3.0         2.0
23           2021                 Luca  ...               1.0         0.0
24           2022          Turning Red  ...               1.0         0.0
25           2022            Lightyear  ...               0.0         0.0

[26 rows x 15 columns]

## Droping columns

In [169]:
df_movies.drop(['Domestic Gross', 'International Gross', 'Domestic %', 'International %', 'Oscars Nominated', 'Oscars Won', 'Movie'], axis=1, inplace=True)
df_movies

    Year Released  Length  ...  Worldwide Gross  Production Budget
0            1995      81  ...           362.00                 30
1            1998      96  ...           363.40                 45
2            1999      92  ...           485.00                 90
3            2001      90  ...           528.80                115
4            2003     104  ...           895.60                 94
5            2004     115  ...           631.40                 92
6            2006     116  ...           462.00                 70
7            2007     111  ...           623.70                150
8            2008      97  ...           521.30                180
9            2009      96  ...           731.30                175
10           2010     103  ...          1063.20                200
11           2011     113  ...           559.90                200
12           2012     100  ...           539.00                185
13           2013     107  ...           743.60                200
14           2015      95  ...           858.85                175
15           2015      93  ...           332.21                200
16           2016      97  ...          1029.27                200
17           2017     102  ...           383.93                175
18           2017     105  ...           814.34                175
19           2018     118  ...          1243.22                200
20           2019     100  ...          1073.84                200
21           2020     102  ...           141.94                175
22           2020     100  ...           121.03                150
23           2021      95  ...            49.75                200
24           2022     100  ...            20.12                175
25           2022     105  ...           226.42                200

[26 rows x 8 columns]

## Model with Raw DataFrame

In [170]:
X = df_movies[['IMDB Score', 'Opening Weekend']].values
y = df_movies['Worldwide Gross'].values.reshape(-1,1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=32)

In [177]:
sc_x = StandardScaler().fit(X)
sc_y = StandardScaler().fit(y)

X_train = sc_x.transform(X_train)
X_test = sc_x.transform(X_test)
y_train = sc_y.transform(y_train)
y_test = sc_y.transform(y_test)

In [178]:
X_train

array([[-11.43012404,  -1.5462132 ],
       [-13.80530411,  -1.58579645],
       [ -9.76749799,  -1.58025526],
       [-12.61771408,  -1.57837091],
       [-10.95508803,  -1.58361766],
       [-12.14267806,  -1.56887257],
       [-12.14267806,  -1.59437615],
       [-12.61771408,  -1.59782688],
       [-13.09275009,  -1.6174124 ],
       [-10.24253401,  -1.5760449 ],
       [-10.005016  ,  -1.57730507],
       [ -9.76749799,  -1.55245512],
       [-15.23041216,  -1.5876278 ],
       [-10.48005201,  -1.58056147],
       [-10.71757002,  -1.58973593],
       [-11.66764205,  -1.50983335],
       [-10.71757002,  -1.6174124 ],
       [-10.71757002,  -1.57591535],
       [-14.75537614,  -1.55322653],
       [-12.14267806,  -1.6174124 ]])

### Sklearn

In [172]:
sk_model = LinearRegression(fit_intercept=False)
sk_model.fit(X_train, y_train)
y_pred_sk = sk_model.predict(X_test)

In [173]:
mse = mean_squared_error(y_test, y_pred_sk)
r2 = r2_score(y_test, y_pred_sk)

print('r2: ', r2)
print('mse: ', mse)

r2:  0.8645450413935158
mse:  0.0925130753195842

In [174]:
from scipy import stats

params = np.append(sk_model.intercept_, sk_model.coef_)
predictions = sk_model.predict(X_train)

newX = np.append(np.ones((len(X_train), 1)), X_train, axis=1)
MSE = (sum((y_train - predictions) ** 2)) / (len(newX) - len(newX[0]))

var_b = MSE * (np.linalg.inv(np.dot(newX.T, newX)).diagonal())
sd_b = np.sqrt(var_b)
ts_b = params / sd_b

p_values = [2 * (1 - stats.t.cdf(np.abs(i), (len(newX) - 1))) for i in ts_b]

# Print the p-values for the coefficients
print(p_values)

[1.0, 0.0002550220158463734, 3.63197472097454e-10]